/* GLOBAL STYLES */
h1, h2, h3, h4, h5, h6, p, html, body {
  margin: 0;
  padding: 0;
}

p {
  font-family: Courier;
  font-size: 20px;    
}

h1, h2 {
  font-family: 'Futura', sans-serif;
  font-weight: lighter;
  text-align: center; 
}

header { 
  margin: 40px 0;
  text-align: center;
}

input, label {
  display: block; 
  width: 300px;
}

input {
  margin-bottom: 20px;    
  border: 1px solid black;
}

textarea {
  width: 300px;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.title {
  font-size: 46px;
}

.subtitle {
  margin: 0 auto;
  font-size: 22px;
  max-width: 500px;
  width: 70%;
}

/* FORM AND BUTTON STYLES */

.fas {
  font-size: 32px;
}   

.create-button {
  margin: 40px 0; 
  width: 220px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; 
  color: white;  
  background-color: #4b8fa8; 
  border: 1px solid black;
  border-radius: 3px;
}

.idea-form {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  width: 310px;
  text-align: left; 
  padding: 30px;  
  display: none;  
}

.idea-submit {
  border: 1px solid black;
  border-radius: 3px; 
  font-family: 'Courier New', Courier, monospace;
}

.idea-category label {
  float:left;
  width:94px;
  margin-right:10px;
  background-color: #4b8fa8;
  border-radius:4px;
  border:1px solid #D0D0D0;
}

.idea-category input:checked + span {
  background-color: #6b8fa8;
  color:#F7F7F7;
}

.idea-category input {
  position:absolute;
  top:-20px;
}

.idea-category label span {
  text-align:center;
  font-size: 13px;
  padding: 13px 0px;
  display:block;
}

/* IDEA LIST STYLES*/

.idea-container {
  float: left;
  width: 30%;
  margin: 0 1.5%;
  text-align: center;
}

.idea-header {  
  display: inline-block;
  margin: 0; 
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.idea-header-element {
  float: left;
  margin: 0 7px;
}

.idea-category {
  color: white;
  float: left;
  display: inline-flex;
  margin-bottom: 15px;
}

.idea-content {
  padding: 10px;
}

.single-idea {
  display: inline-flex;
  margin-bottom: 25px;
}

.edit-button, .delete-button {
  margin-top: 1px;
  font-size: 20px;
}

.edit-button:hover, .delete-button:hover, .submit-edit-button:hover, .cancel-edit-button:hover {
  cursor: pointer;
}

.submit-edit-button, .cancel-edit-button {
  margin-top: 1px;
  font-size: 0px;
}

.idea-text, .edit-idea-textarea {
  margin: 0 15px;  
  padding: 0; 
}

.single-idea textarea {
  display: none;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .idea-header-text {
    font-size: 26px;
  }

  .edit-button .delete-button {
    font-size: 20px;
  }

  .idea-text {
    margin: 0 5px;
  }

  header {
    text-align: center;
  }

  .idea-container {
    float: none;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}